body {
  font-size: 100%; }

* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%; }

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1; }

h2 {
  font-family: "Cinzel", serif;
  color: #000;
  font-size: 24px;
  text-align: center;
  font-weight: lighter;
  margin: 50px 0 50px 0; }
  @media screen and (min-width: 530px) {
    h2 {
      margin: 100px 0 100px 0;
      font-size: 38px; } }

.desktopNav {
  display: none; }
  @media screen and (min-width: 530px) {
    .desktopNav {
      display: block; } }

#primary_nav_wrap {
  background: #343434;
  margin: 0 auto;
  max-width: 403px; }

#primary_nav_wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; }

#primary_nav_wrap ul a, p {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
  font-weight: lighter; }

#primary_nav_wrap ul li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: 0.2s; }

#primary_nav_wrap ul li.current-menu-item {
  background: #343434; }

#primary_nav_wrap ul li:hover {
  background: #666666;
  transition: 0.2s; }

#primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #343434;
  padding: 0; }

#primary_nav_wrap ul ul li {
  float: none;
  width: 200px; }

#primary_nav_wrap ul ul a {
  line-height: 120%;
  padding: 10px 15px; }

#primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%; }

#primary_nav_wrap ul li:hover > ul {
  display: block; }

.burgerNav {
  position: fixed;
  display: block;
  top: 25px;
  right: 25px;
  height: 50px;
  width: 50px;
  background: #ccc;
  z-index: 20; }
  @media screen and (min-width: 530px) {
    .burgerNav {
      display: none; } }

.mobileNavWrapper {
  width: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 20; }

.mobileNav {
  background: #343434;
  width: 80%;
  display: block;
  position: relative;
  margin: 30px auto 0 auto;
  padding: 0 0 10px 0;
  -webkit-box-shadow: 0px 14px 14px 6px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 14px 14px 6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 14px 14px 6px rgba(0, 0, 0, 0.32); }
  @media screen and (min-width: 530px) {
    .mobileNav {
      display: none; } }
  .mobileNav #closeMobileNav {
    background: #cccccc;
    width: 50px;
    height: 50px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0; }
  .mobileNav a {
    display: block;
    padding: 15px 10px;
    background: #666666;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    text-align: center;
    margin: 0 20px 10px 20px;
    color: #fff;
    font-size: 16px; }
  .mobileNav__collections {
    margin: 0 0 20px 0; }
    .mobileNav__collections p {
      display: block;
      padding: 45px 10px 0 10px;
      font-family: "Roboto", sans-serif;
      text-decoration: none;
      text-align: center;
      margin: 0 10px 10px 10px;
      color: #fff;
      font-size: 13px; }
    .mobileNav__collections #skin {
      font-family: "Cinzel", serif;
      font-size: 22px;
      padding: 11px 0; }
    .mobileNav__collections #scally {
      font-family: 'Oswald', sans-serif;
      letter-spacing: 1px; }

.cover {
  position: relative;
  background: #312c28;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #312c28 0%, #615851 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #312c28 0%, #615851 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #312c28 0%, #615851 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#312c28', endColorstr='#615851',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  z-index: 2; }
  .cover #coverguy {
    position: absolute;
    left: 90px;
    bottom: 0;
    height: 80%; }
    @media screen and (min-width: 590px) {
      .cover #coverguy {
        height: 100%;
        left: 0; } }
  .cover #covergirl {
    position: absolute;
    right: 90px;
    bottom: 0;
    height: 80%; }
    @media screen and (min-width: 590px) {
      .cover #covergirl {
        height: 100%;
        right: 0; } }
  .cover__Title {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top: 90px; }
    .cover__Title h1 {
      font-family: 'Cinzel Decorative', cursive;
      color: #fff;
      font-size: 50px;
      font-weight: normal;
      text-align: center;
      line-height: 60px; }
  .cover__Logo {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    top: 200px; }
    @media screen and (min-width: 530px) {
      .cover__Logo {
        top: 175px; } }
    .cover__Logo div {
      width: 100%; }
    .cover__Logo hr {
      width: 100%;
      border: 0;
      height: 0;
      border-top: 2px solid #fff; }

.cover-text {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

.thesvg {
  text-align: center; }

#theRest {
  width: 100%;
  height: 100%; }

.intro-wrapper {
  width: 100%;
  background: #ffffff; }

.intro {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box; }
  .intro .intro-text-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%; }
    @media screen and (min-width: 770px) {
      .intro .intro-text-container {
        width: calc(33.333% - 10px);
        margin: 0 20px 0 0; } }
  .intro__text {
    padding: 100px 0 0 0;
    box-sizing: border-box;
    max-width: 900px;
    display: block; }
    .intro__text h1 {
      font-family: "Cinzel", serif;
      color: #000;
      font-size: 50px;
      text-align: center;
      font-weight: 400;
      margin: 20px 0 50px 0; }
    .intro__text h2 {
      font-family: "Cinzel", serif;
      color: #000;
      font-size: 24px;
      text-align: center;
      font-weight: lighter;
      margin: 0 0 100px 0; }
    .intro__text hr {
      margin: 20px 0; }
    .intro__text p {
      font-family: "Roboto", sans-serif;
      color: #000;
      font-size: 18px;
      text-align: left;
      font-weight: 300;
      margin: 0 0 20px 0;
      line-height: 31px;
      column-count: 1;
      -moz-column-count: 1;
      -webkit-column-count: 1; }
      @media screen and (min-width: 770px) {
        .intro__text p {
          column-count: 2;
          -moz-column-count: 2;
          -webkit-column-count: 2; } }
    .intro__text .contact__inner h2 {
      font-style: italic;
      font-family: "Cinzel", serif;
      border-bottom: 1px solid #000000;
      margin: 20px 0 10px 0;
      text-align: left;
      font-size: 30px;
      font-weight: bold; }
    .intro__text .contact__inner a {
      padding: 0 0 10px 0;
      font-family: "Roboto", sans-serif;
      color: #000;
      font-size: 18px;
      text-align: left;
      text-decoration: none;
      font-style: italic;
      font-weight: 400;
      display: block; }
    .intro__text .contact__inner img {
      position: relative;
      top: 7px;
      height: 30px;
      width: 30px;
      padding: 0 20px 0 0; }
    .intro__text .sales__inner {
      padding: 20px 0; }
      .intro__text .sales__inner a {
        color: #000000;
        text-decoration: none; }
      .intro__text .sales__inner h2 {
        font-style: italic;
        font-family: "Cinzel", serif;
        border-bottom: 1px solid #000000;
        margin: 20px 0 10px 0;
        text-align: left;
        font-size: 30px;
        font-weight: bold; }
      .intro__text .sales__inner p {
        column-count: 1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
        text-align: left; }
    .intro__text .about__inner a {
      color: #000000;
      text-decoration: none; }
    .intro__text .about__inner h2 {
      font-style: italic;
      font-family: "Cinzel", serif;
      border-bottom: 1px solid #000000;
      margin: 0 0 10px 0;
      text-align: left;
      font-size: 30px;
      font-weight: bold; }
    .intro__text .about__inner p {
      column-count: 1;
      -moz-column-count: 1;
      -webkit-column-count: 1; }
      @media screen and (min-width: 770px) {
        .intro__text .about__inner p {
          column-count: 2;
          -moz-column-count: 2;
          -webkit-column-count: 2; } }
  .intro__nav {
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    vertical-align: top; }
    .intro__nav a {
      text-decoration: none; }
    @media screen and (min-width: 770px) {
      .intro__nav {
        margin: 0; } }
    .intro__nav__tile--full {
      margin: 0 0 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box; }
    .intro__nav__tile--first {
      margin: 0 0 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box; }
      @media screen and (min-width: 530px) {
        .intro__nav__tile--first {
          margin: 0 20px 20px 0; } }
    .intro__nav__tile--last {
      margin: 0 0 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box; }

.skin {
  background-image: url("../img/home/tile-skin.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
  cursor: pointer; }
  .skin:hover {
    -webkit-box-shadow: inset 0px 0px 0px 10px #fff;
    -moz-box-shadow: inset 0px 0px 0px 10px #fff;
    box-shadow: inset 0px 0px 0px 10px #fff; }
  .skin h3 {
    color: #ffffff;
    font-family: "Cinzel", serif;
    font-size: 50px;
    line-height: 40px;
    font-weight: lighter;
    text-shadow: 2px 2px 15px #000000;
    text-align: center; }
    @media screen and (min-width: 530px) {
      .skin h3 {
        font-size: 80px;
        line-height: 66px; } }

.scally {
  background-image: url("../img/home/tile-scally.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 300px;
  cursor: pointer; }
  .scally:hover {
    -webkit-box-shadow: inset 0px 0px 0px 10px #fff;
    -moz-box-shadow: inset 0px 0px 0px 10px #fff;
    box-shadow: inset 0px 0px 0px 10px #fff; }
  .scally h3 {
    color: #ffffff;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 15px #000000;
    line-height: 50px;
    text-align: center; }

.press {
  background-image: url("../img/home/tile-press.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 300px;
  cursor: pointer; }
  .press:hover {
    -webkit-box-shadow: inset 0px 0px 0px 10px #fff;
    -moz-box-shadow: inset 0px 0px 0px 10px #fff;
    box-shadow: inset 0px 0px 0px 10px #fff; }
  .press h3 {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 15px #000000;
    line-height: 50px;
    text-align: center; }

.grid-1-1 {
  width: 100%; }

.grid-1-2 {
  width: 100%; }
  @media screen and (min-width: 530px) {
    .grid-1-2 {
      width: calc(50% - 10px); } }

.grid-2-3 {
  width: 100%; }
  @media screen and (min-width: 530px) {
    .grid-2-3 {
      width: calc(66.6666% - 10px); } }
  @media screen and (min-width: 770px) {
    .grid-2-3 {
      width: calc(66.6666% - 10px); } }
  @media screen and (min-width: 1080px) {
    .grid-2-3 {
      width: calc(66.6666% - 10px); } }

.grid-1-3 {
  width: 100%; }
  @media screen and (min-width: 530px) {
    .grid-1-3 {
      width: calc(33.333% - 10px); } }
  @media screen and (min-width: 770px) {
    .grid-1-3 {
      width: calc(33.333% - 10px); } }
  @media screen and (min-width: 1080px) {
    .grid-1-3 {
      width: calc(33.333% - 10px); } }

/*# sourceMappingURL=home.css.map */
