* {
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  font-size: 0; }

body {
  overflow-x: hidden;
  background: #000;
  height: 100%; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

h1 {
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: lighter;
  color: #BBB; }
  @media screen and (min-width: 599px) {
    h1 {
      font-size: 50px; } }

h2 {
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: lighter;
  color: #BBB;
  font-size: 26px; }

p {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 15px;
  color: #BBB;
  vertical-align: top; }
  @media screen and (min-width: 320px) {
    p {
      font-size: 18px; } }

.intro {
  width: 100%;
  margin: 20px 0 0 0; }
  @media screen and (min-width: 599px) {
    .intro {
      margin: 100px 0 0 0; } }
  .intro .title {
    margin: 0 auto;
    max-width: 375px; }
  .intro .thesvg {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0; }
    @media screen and (min-width: 599px) {
      .intro .thesvg {
        margin: 0 0 100px 0; } }
  .intro__text--top {
    padding: 20px;
    display: none; }
    .intro__text--top p {
      font-size: 19px; }
    @media screen and (min-width: 599px) {
      .intro__text--top {
        display: block; } }
    @media screen and (min-width: 599px) {
      .intro__text--top {
        padding: 0; } }
  .intro__text--bottom {
    padding: 20px;
    display: block; }
    .intro__text--bottom p {
      font-size: 19px; }
    @media screen and (min-width: 599px) {
      .intro__text--bottom {
        display: none; } }
    @media screen and (min-width: 599px) {
      .intro__text--bottom {
        padding: 0; } }

.thesvg--bottom {
  display: flex;
  justify-content: center;
  margin: 100px 0 0 0; }

.slider-outer {
  width: 100%;
  margin: 0 auto 100px auto;
  position: relative; }

#nav-prev {
  position: absolute;
  top: 200px;
  left: 20%;
  color: #BBB;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  border: 1px solid #BBB;
  width: 50px;
  height: 50px;
  padding: 8px 0 5px 10px;
  box-sizing: border-box;
  z-index: 20; }
  #nav-prev:hover {
    background-color: #BBB;
    color: #000; }

#nav-next {
  position: absolute;
  top: 200px;
  right: 20%;
  color: #BBB;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  border: 1px solid #BBB;
  width: 50px;
  height: 50px;
  padding: 8px 0 5px 10px;
  box-sizing: border-box;
  z-index: 20; }
  #nav-next:hover {
    background-color: #BBB;
    color: #000; }

.slider-img {
  width: 100% !important;
  margin: 0 auto; }
  @media screen and (min-width: 599px) {
    .slider-img {
      width: 70% !important; } }

article {
  position: relative;
  width: 100%;
  margin: 0 0 20px 0; }

.textbox {
  padding: 20px;
  border: 1px solid white;
  text-shadow: 2px 2px #000;
  width: 200px; }
  .textbox p {
    padding: 0 0 20px 0; }
  .textbox span {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 18px;
    color: #BBB;
    font-style: italic; }

.articulus__leg {
  vertical-align: top; }
.articulus__models {
  vertical-align: top; }
.articulus__finger {
  position: absolute;
  top: 0; }
.articulus__textbox {
  margin: 0 auto; }

.auris__textbox {
  position: absolute;
  right: 5%;
  top: 50px;
  z-index: 5; }

.geminus__textbox {
  position: absolute;
  left: 0; }

.manibus__girl {
  position: absolute;
  top: 40px;
  width: 100%; }
.manibus__textbox {
  position: absolute;
  right: 5%;
  top: 50px; }

.condulus__ring {
  position: absolute; }
.condulus__textbox {
  margin: 0 auto 0 auto; }

.decorio__textbox {
  position: absolute;
  left: 0; }

.pellis__textbox {
  margin: 0 auto; }

.oricula__textbox {
  position: absolute;
  left: 10%;
  top: 20%; }

.chryseum__ring {
  position: absolute;
  bottom: -120px;
  left: -90px; }
.chryseum__textbox {
  margin: 0 auto; }

.aureus__ring {
  position: absolute;
  bottom: 100px;
  left: -40px; }
.aureus__textbox {
  position: absolute;
  left: 35%;
  width: 200px;
  top: 20%; }

.desktopNav {
  display: none; }
  @media screen and (min-width: 599px) {
    .desktopNav {
      display: block; } }

#primary_nav_wrap {
  background: #343434;
  margin: 0 auto;
  max-width: 403px; }

#primary_nav_wrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; }

#primary_nav_wrap ul a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  padding: 0 15px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: lighter; }

#primary_nav_wrap ul li {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: 0.2s; }

#primary_nav_wrap ul li.current-menu-item {
  background: #343434; }

#primary_nav_wrap ul li:hover {
  background: #666666;
  transition: 0.2s; }

#primary_nav_wrap ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #343434;
  padding: 0; }

#primary_nav_wrap ul ul li {
  float: none;
  width: 200px; }

#primary_nav_wrap ul ul a {
  line-height: 120%;
  padding: 10px 15px; }

#primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%; }

#primary_nav_wrap ul li:hover > ul {
  display: block; }

.burgerNav {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background: #ccc;
  z-index: 20; }
  @media screen and (min-width: 599px) {
    .burgerNav {
      display: none; } }

.mobileNavWrapper {
  width: 100%;
  display: none;
  opacity: 0;
  margin-top: 20px;
  position: fixed;
  top: 20px;
  z-index: 20; }

.mobileNav {
  background: #343434;
  width: 80%;
  display: block;
  position: relative;
  margin: 30px auto 0 auto;
  padding: 0 0 10px 0;
  -webkit-box-shadow: 0px 14px 14px 6px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 14px 14px 6px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 14px 14px 6px rgba(0, 0, 0, 0.32); }
  @media screen and (min-width: 599px) {
    .mobileNav {
      display: none; } }
  .mobileNav #closeMobileNav {
    background: #cccccc;
    width: 50px;
    height: 50px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0; }
  .mobileNav a {
    display: block;
    padding: 15px 10px;
    background: #666666;
    font-family: "PT Sans Narrow", sans-serif;
    text-decoration: none;
    text-align: center;
    margin: 0 20px 10px 20px;
    color: #fff;
    font-size: 16px; }
  .mobileNav__collections {
    margin: 0 0 20px 0; }
    .mobileNav__collections p {
      display: block;
      padding: 45px 10px 0 10px;
      font-family: "PT Sans Narrow", sans-serif;
      text-decoration: none;
      text-align: center;
      margin: 0 10px 10px 10px;
      color: #fff;
      font-size: 13px; }
    .mobileNav__collections #skin {
      font-family: "Cinzel", serif;
      font-size: 22px;
      padding: 11px 0; }
    .mobileNav__collections #scally {
      font-family: 'Oswald', sans-serif;
      letter-spacing: 1px; }

/*# sourceMappingURL=secondskin.css.map */
