$break-small: 550px;
$tweak-rings: 380px;
$break-small-med: 599px;
$tweak-landscape-phone: 620px;
$break-medium: 750px;
$break-medium-large: 950px;
$break-large: 1000px;
$break-xlarge: 1200px;

$logo-font: 'Cinzel', serif;
$body-font: 'Roboto', sans-serif;
$title-font: 'Playfair Display', serif;

$gold-border: 5px outset #bf9567;

$white: #BBB;
$gold1: #bf9567;


body{
	padding: 20px;
	box-sizing: border-box; //20px padding is included in the 80% width
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedbd1+0,d6d6d6+100 */
background: #d8d8d8; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #d8d8d8 0%, #888888 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #d8d8d8 0%,#888888 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #d8d8d8 0%,#888888 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#888888',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

nav{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
}


#primary_nav_wrap
{
	background: #343434;
	margin: 0 auto;
	max-width: 403px;
}

#primary_nav_wrap ul
{
	list-style:none;
	// position:relative;	
	margin:0;
	padding:0;
	display: flex;
	justify-content: center;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:700;
	font-size:16px;
	line-height:32px;
	padding:0 15px;
	font-family:$body-font;
	font-weight: lighter;
}

#primary_nav_wrap ul li
{
	position:relative;
	display: inline-block;
	margin:0;
	padding:0;
	transition: 0.2s;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#343434;
}

#primary_nav_wrap ul li:hover
{
	background:#666666;
	transition: 0.2s;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#343434;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}


h2{
	color: #000000;
	font-family: $title-font;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
}

hr{
	margin: 20px 0;
}




  /////////////////////////
 ////Shoots///////////////
/////////////////////////
.shoots{
	max-width: 1400px;
	margin: 0 20px 0 20px;

	@media screen and (min-width: $break-medium) {
		margin: 0 auto;
	}

	@media screen and (min-width: $break-large) {
		padding: 0 50px;
	}

	&__box{
		margin:	50px 0 0 0;	
	}

	&__text{
		width: 100%;
		display: inline-block;
		vertical-align: top;
		
		@media screen and (min-width: $break-medium) {
			width: 18%;
		}

		p{
			display: block;
			font-family: $body-font;
			font-size: 20px;
			color: #000000;
			text-align:center;
			margin: 0 0 5px 0;
		}

		span{
			display: block;
			font-family: $title-font;
			font-size: 30px;
			color: #000000;
			text-align:center;
			padding: 0 0 20px 0;
			line-height: 25px;
		}
	}

	&__row{
		width: 100%;
		display: inline-block;

		@media screen and (min-width: $break-medium) {
			width: 80%;
		}
	}

	img{
		display: inline-block;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		margin: 5px;		


		@media screen and (min-width: $break-medium) {
			width: 48%;
			max-width: 500px;
		}
		
		@media screen and (min-width: $break-large) {
			width: 31%;
			max-width: 500px;

		}
	}
}

