$break-small: 530px;
$break-medium: 750px;
$break-large: 1080px;

$logo-font: 'Cinzel', serif;
$body-font: 'Roboto', sans-serif;
$title-font: 'Cinzel', serif;

*{
	margin: 0;
	padding: 0;
}


nav{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
}

.desktopNav{
	display: none;

	@media screen and (min-width: $break-small) {
		display: block;
	}
}

#primary_nav_wrap
{
	background: #343434;
	margin: 0 auto;
	max-width: 403px;
}

#primary_nav_wrap ul
{
	list-style:none;
	// position:relative;	
	margin:0;
	padding:0;
	display: flex;
	justify-content: center;
}

#primary_nav_wrap ul a,span
{
	display:block;
	color:#fff;
	text-decoration:none;
	font-size:16px;
	line-height:32px;
	padding:0 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
}

#primary_nav_wrap ul li
{
	position:relative;
	display: inline-block;
	margin:0;
	padding:0;
	transition: 0.2s;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#343434;
}

#primary_nav_wrap ul li:hover
{
	background:#666666;
	transition: 0.2s;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#343434;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block;
}

/////////////////////////
///////Mobile Nav//////
///////////////////////

.burgerNav{
	position: fixed;
	display: block;
	top: 25px;
	right: 25px;
	height: 50px;
	width: 50px;
	background: #ccc;
	z-index: 20;

	@media screen and (min-width: $break-small) {
		display: none;
	}
}

.mobileNavWrapper{
	width: 100%;
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 20;
}

.mobileNav{
	background: #343434;
	width: 80%;
	display: block;
	position: relative;
	margin: 30px auto 0 auto;
	padding: 0 0 10px 0;
	-webkit-box-shadow: 0px 14px 14px 6px rgba(0,0,0,0.32);
	-moz-box-shadow: 0px 14px 14px 6px rgba(0,0,0,0.32);
	box-shadow: 0px 14px 14px 6px rgba(0,0,0,0.32);


		@media screen and (min-width: $break-small) {
			display: none;
		}

	#closeMobileNav{
		background: #cccccc;
		width: 50px;
		height: 50px;
		text-align: right;
		position: absolute;
		top: 0;
		right: 0;
		
	}

	a{
		display: block;
		padding: 15px 10px;
		background: #666666;
		font-family: $body-font;
		text-decoration: none;
		text-align: center;
		margin: 0 20px 10px 20px;
		color: #fff;
		font-size: 16px;
	}


	&__collections{
		margin: 0 0 20px 0;
		span{
			display: block;
			padding: 45px 10px 0 10px;
			font-family: $body-font;
			text-decoration: none;
			text-align: center;
			margin: 0 10px 10px 10px;
			color: #fff;
			font-size: 13px;
		}

		#skin{
			font-family: $logo-font;
			font-size: 22px;
			padding: 11px 0;
		}
		#scally{
			font-family: 'Oswald', sans-serif;
			letter-spacing: 1px;
		}
	}
	
}


h1{
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	line-height: 50px;
	margin: 20px 0 20px 0;
	

	@media screen and (min-width: $break-medium) {
		font-size: 80px;
		line-height: 80px;
		
	}

	@media screen and (min-width: $break-large) {
		font-size: 120px;
		line-height: 120px;
		
	}

}

p{
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
    line-height: 26px;
    width: 100%;
    display: inline-block;
    padding: 20px 0 0 0;   
    font-weight: 300;
    vertical-align: top;

    @media screen and (min-width: $break-medium) {
		width: 40%;
		font-size: 25px;
		line-height: 30px;
		padding: 0 20px 0 0;
	}
}

img{
	width:100%;
}

#intro{
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin: 50px 0 0 0;

	@media screen and (min-width: $break-medium) {
		
	}
}

#box{
	width:100%;
	margin: 0 auto;
	

	@media screen and (min-width: $break-small) {
		width: 70%;
		display: flex;
		justify-content: center;
	}

	img{
		display:block;
	}

	&__left{
		display: block;
		width: 100%;

		@media screen and (min-width: $break-small) {
			width: 50%;
		}
	}

	&__right{
		display: block;
		width: 100%;

		@media screen and (min-width: $break-small) {
			width: 50%;
		}
	}
}


#A1{
	
}

#A2{
	
}

#A3{
	
}

#A4{
}

#A5{
	
}

#A6{
}