$break-small: 320px;
$tweak-rings: 380px;
$break-small-med: 599px;
$tweak-landscape-phone: 620px;
$break-medium: 750px;
$break-medium-large: 950px;
$break-large: 1000px;
$break-xlarge: 1200px;

$title-font: 'Cinzel', serif;
$logo-font: 'Cinzel', serif;
$body-font: 'PT Sans Narrow', sans-serif;

$white: #BBB;
$gold1: #bf9567;



*{
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
	font-size: 0;
}

body{
	overflow-x: hidden; //Stop .row from making a horizontal scroll bar with its negative margin
	background: #000;
	height: 100%;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

h1{
	font-size: 35px;
	margin: 0 auto;
	text-align: center;
	font-family: $title-font;
	font-weight: lighter;
	color: $white;

	@media screen and (min-width: $break-small-med) {
		font-size: 50px;
	}
}

h2{
	text-align: center;
	font-family: $title-font;
	font-weight: lighter;
	color: $white;
	font-size: 26px;
}

p{
	font-family:  $body-font;
	font-size: 15px;
	color: $white;
	vertical-align: top;

		@media screen and (min-width: $break-small) {
			font-size: 18px;
		}
}











.intro{
	width: 100%;
	margin: 20px 0 0 0;

	@media screen and (min-width: $break-small-med) {
		margin: 100px 0 0 0;
	}

	.title{
		margin: 0 auto;
		max-width: 375px;
	}

	.thesvg{
		display: flex;
		justify-content: center;
		margin: 0 0 20px 0;

		@media screen and (min-width: $break-small-med) {
			margin: 0 0 100px 0;
		}
	}

	&__text--top{
		padding: 20px;
		display: none;

		p{
			font-size: 19px;
		}

		@media screen and (min-width: $break-small-med) {			
			display: block;
		}

		@media screen and (min-width: $break-small-med) {
			padding: 0;
		}
	}

	&__text--bottom{
		padding: 20px;
		display: block;
		p{
			font-size: 19px;
		}

		@media screen and (min-width: $break-small-med) {
			display: none;
		}

		@media screen and (min-width: $break-small-med) {
			padding: 0;
		}
	}

}

.thesvg--bottom{
	display: flex;
	justify-content: center;
	margin: 100px 0 0 0;
}

.slider-outer{
	width: 100%;
	margin: 0 auto 100px auto;
	position: relative;
}

#nav-prev{
	position: absolute;
	top:200px;
	left: 20%;
	color: $white;
	font-family: $body-font;
	font-size: 24px;
	border: 1px solid $white;
	width: 50px;
	height: 50px;
	padding: 8px 0 5px 10px;
	box-sizing: border-box;
	z-index: 20;

	&:hover{
		background-color: $white;
		color: #000;
	}
}

#nav-next{
	position: absolute;
	top:200px;
	right: 20%;
	color: $white;
	font-family: $body-font;
	font-size: 24px;
	border: 1px solid $white;
	width: 50px;
	height: 50px;
	padding: 8px 0 5px 10px;
	box-sizing: border-box;
	z-index:20;

	&:hover{
		background-color: $white;
		color: #000;
	}
}

.slider-img{
	width:100%!important;
	margin: 0 auto;

	@media screen and (min-width: $break-small-med) {
		width:70%!important;
	}

}


  /////////////////////
 ////ARTICLES/////////
/////////////////////

article{
	position: relative;
	width: 100%;
	margin: 0 0 20px 0;
}

.textbox{
	padding: 20px;
	border: 1px solid white;
	text-shadow: 2px 2px #000;
	width: 200px;


	p{
		padding: 0 0 20px 0;		
	}

	span{
		font-family:  $body-font;
		font-size: 18px;
		color: $white;
		font-style: italic;		
	}
}

.articulus{	

	&__leg{
		// position: absolute;
		vertical-align: top; 
	}

	&__models{
		vertical-align: top; 
	}

	&__finger{
		position: absolute;		
		top: 0;
	}
	&__textbox{
		margin: 0 auto;
		// position: absolute;
		// left: 40%;
		// top: 50px;
	}

}

.auris{
	&__girl{

	}

	&__textbox{
		position: absolute;
		right: 5%;
		top: 50px;
		z-index: 5;
	}
}

.geminus{
	&__girl{

	}

	&__textbox{
		position: absolute;
		left: 0;
		// top: 50px;
	}
}

.manibus{

	&__girl{
		position: absolute;
		top: 40px;
		width: 100%;
	}

	&__textbox{
		position: absolute;
		right: 5%;
		top: 50px;
	}
}

.condulus{

	&__ring{
		position: absolute;
		// bottom: 5%;
	}

	&__textbox{
		// position: absolute;
		// right: 15%;
		// top: 5%;
		margin: 0 auto 0 auto;

	}
}

.decorio{

	&__textbox{
		position: absolute;
		left: 0;
		// right: 8%;
		// width: 200px;
		// top: 10%;
	}
}

.pellis{

	&__ring{
		// position: absolute;	
		// bottom: 100px;
		// left: -40px;
	}

	&__textbox{
		// position: absolute;
		// left: 10%;
		// top: 20%;
		margin: 0 auto;
	}
}


.oricula{	

	&__textbox{
		position: absolute;
		left: 10%;
		top: 20%;
	}
}

.chryseum{

	&__guy{
		// position: absolute;
		// width: 100%;	   
	}
	&__ring{
		position: absolute;		
		bottom: -120px;
		left: -90px;
	}
	&__textbox{
		// position: absolute;
		// left: 5%;
		// width: 200px;
		// top: 50px;
		margin: 0 auto;
	}
}

.aureus{

	&__ring{
		position: absolute;	
		bottom: 100px;
		left: -40px;
	}

	&__textbox{
		position: absolute;
		left: 35%;
		width: 200px;
		top: 20%;
	}
}




///////////////////
//////NAV BAR/////
/////////////////
.desktopNav{
	display: none;

	@media screen and (min-width: $break-small-med) {
		display: block;
	}
}

#primary_nav_wrap
{
	background: #343434;
	margin: 0 auto;
	max-width: 403px;
}

#primary_nav_wrap ul
{
	list-style:none;
	// position:relative;	
	margin:0;
	padding:0;
	display: flex;
	justify-content: center;
}

#primary_nav_wrap ul a
{
	display:block;
	color:#fff;
	text-decoration:none;
	font-weight:700;
	font-size:16px;
	line-height:32px;
	padding:0 15px;
	font-family:$body-font;
	font-weight: lighter;
}

#primary_nav_wrap ul li
{
	position:relative;
	display: inline-block;
	margin:0;
	padding:0;
	transition: 0.2s;
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#343434;
}

#primary_nav_wrap ul li:hover
{
	background:#666666;
	transition: 0.2s;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#343434;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}



/////////////////////////
///////Mobile Nav//////
///////////////////////

.burgerNav{
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	height: 50px;
	width: 50px;
	background: #ccc;
	z-index: 20;

	@media screen and (min-width: $break-small-med) {
		display: none;
	}
}

.mobileNavWrapper{
	width: 100%;
	display: none;
	opacity: 0;
	margin-top: 20px;
	position: fixed;
	top: 20px;
	z-index: 20;
}

.mobileNav{
	background: #343434;
	width: 80%;
	display: block;
	position: relative;
	margin: 30px auto 0 auto;
	padding: 0 0 10px 0;
	-webkit-box-shadow: 0px 14px 14px 6px rgba(0,0,0,0.32);
	-moz-box-shadow: 0px 14px 14px 6px rgba(0,0,0,0.32);
	box-shadow: 0px 14px 14px 6px rgba(0,0,0,0.32);


		@media screen and (min-width: $break-small-med) {
			display: none;
		}

	#closeMobileNav{
		background: #cccccc;
		width: 50px;
		height: 50px;
		text-align: right;
		position: absolute;
		top: 0;
		right: 0;
		
	}

	a{
		display: block;
		padding: 15px 10px;
		background: #666666;
		font-family: $body-font;
		text-decoration: none;
		text-align: center;
		margin: 0 20px 10px 20px;
		color: #fff;
		font-size: 16px;
	}


	&__collections{
		margin: 0 0 20px 0;
		p{
			display: block;
			padding: 45px 10px 0 10px;
			font-family: $body-font;
			text-decoration: none;
			text-align: center;
			margin: 0 10px 10px 10px;
			color: #fff;
			font-size: 13px;
		}

		#skin{
			font-family: $logo-font;
			font-size: 22px;
			padding: 11px 0;
		}
		#scally{
			font-family: 'Oswald', sans-serif;
			letter-spacing: 1px;
		}
	}
	
}